@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@200&family=Monoton&family=Qwitcher+Grypen&family=Sedgwick+Ave+Display&family=Tektur:wght@400;500&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user-img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #eee;
}
.sidebar{
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 90px;
    background-color:   #243b55 ;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
   
}
.sidebar.active ~ .main{
    left: 250px;
    width: calc(100% - 250px);
}
.sidebar.active{
    width: 250px;

}
.sidebar #btn {
    position: absolute;
    color: azure;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translate(-50%);
    cursor: pointer;
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar .top .logo{
    color:   bisque;
    display: flex;
    height: 50px;
    margin-bottom: 20%;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.sidebar.active .top .logo{
    opacity: 1;
}
.top .logo{
    font-size: 2rem;
    margin-right: 5px;
}
.user p{
color: #eee;
opacity: 1;
margin-left: 1rem;

}
.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.bold{
    font-weight: 600;
    margin-bottom: 10%;
}

.sidebar p{
    opacity: 0;
    
}
.sidebar.active p{
    opacity: 1;
    color: aliceblue;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
.sidebar ul li a:hover{
    background-color: #eee;
    color: #12171e;
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}
.sidebar ul li .dash{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.2);
    border-radius: .4rem 1.2rem;
    line-height: 2.8rem;
    z-index: 20;
    opacity: 0;

}
.sidebar ul li:hover .dash{
    opacity: 1;
   background-color: #12171e74;
   color: aliceblue;
}
.sidebar.active ul li .dash{
    display: none;
}
.main{
    position: relative;
    background-color:  #c4e0e5;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% -80px);
    padding: 1rem;
}
.containt{
    display: flex;
    justify-content: space-between;
    /* font-family: 'Lisu Bosa', serif;
/* font-family: 'Monoton', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Tektur', cursive;
font-family: 'Tilt Prism', cursive; */
}