@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
*{
   margin: 0;
   padding: 0; 
}
body{
    height: 150vh;
    /* background-image: url("https://images.pexels.com/photos/325676/pexels-photo-325676.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover; */
  
   
   
 
}

/* --------------------------------------------------------------------- */
.searchTxt{

 box-sizing: border-box;

 position: absolute;
 width: 499px;
 height: 27px;
 left: 188px;
 top: 64px;
 
 background: #2C3E50;
 opacity: 0.4;
 border: 1px solid #000000;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 color:#fff;
 
 margin-top: 2%;
 margin-left: 13%;
}
 .btn{

position: absolute;
width: 65px;
height: 27px;
left: 619px;
top: 62px;

background: #D9D9D9;
border-radius: 200px;

margin-top: 2.1%;
margin-left: 20%;

 }
 /* -------------------------------------------------- */
 .currentWeather{


box-sizing: border-box;

position: absolute;
width: 428.33px;
height: 119.8px;
/* left: 1.13px; */
top: 450.18px;

/* background: #2C3E50; */
background-color: #fff;
opacity: 0.4;
border: 1px solid #000000;
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33); */
border-radius: 10px;
transform: rotate(-90.1deg);
margin-right: 100px;

 }
 .currentWind{
    width: 100px;
    height: 80px;
    border-radius: 4px;
    /* background-color: #2C3E50; */
    margin-right: 5%;
    margin-left: 4%;
    rotate: 90deg;
 }
 .wetherCurrent{
    width: 100px;
    height: 80px;
    border-radius: 4px;
    /* background-color:  #2C3E50; */
    margin-right: 5%;
    rotate: 90deg;
 }
 .currentArea{
    width: 100px;
    height: 80px;
    border-radius: 4px;
    /* background-color:  #2C3E50; */
    margin-right: 5%;
    rotate: 90deg;  
 }
 .currentMap{
    width: 100px;
    height: 80px;
    border-radius: 4px;
    /* background-color:  #2C3E50; */
    margin-right: 5%;
    rotate: 90deg;
 }
 .currentSetting{
    width: 100px;
    height: 80px;
    border-radius: 4px;
    /* background-color: #2C3E50; */
    margin-right: 5%;
    rotate: 90deg;
 }

.eventCurrent1{
    margin-left: 20%;
    margin-top: 5%;
    color: #000000;
}
.eventCurrent2{
    margin-left: 5%;
    margin-top: 5%;
}
.eventCurrent3{
    margin-left: 10%;
    margin-top: 5%;
}
.eventCurrent4{
    margin-left: 20%;
    margin-top: 5%;
}
.eventCurrent5{
    margin-left: 15%;
    margin-top: 5%;
}
.iconCurrentWind{
    width: 50px;
 } 
 .iconCurrentWeather{
    width: 50px;
 }
 .iconCurrentLocation{
    width: 50px;
 }
 .iconCurrentMap{
    width: 50px;
 }
 .iconCurrentSetting{
    width: 50px;
 }
 .currentForecast{
        display: flex;
        margin-top: 5%;
    
 }

 /* .windP{
    color: #000000;
    /* margin-left: 70%; */
    /* writing-mode: vertical-rl;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;  */
    /* margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%; */
    /* margin-left: 2%; */
 /* } */
/* .cwind{
    margin-top: 8.7%;
    margin-left: 83%;
}
*/

 /* ---------------------------------------------- */
 .todayForecast{


position: absolute;
width: 694px;
height: 164px;
left: 124px;
top: 234px;

background: rgba(44, 62, 80, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
border-radius: 10px;

margin-left: 14%;
margin-top: 8.3%;



 }
 /* ------------------------------------------------- */
 .airConditions{
   

box-sizing: border-box;

position: absolute;
width: 694px;
height: 200px;
left: 124px;
top: 347px;


box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
border-radius: 10px;

margin-left: 14%;
margin-top: 13.6%;



background: #2C3E50;
opacity: 0.4;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 10px;


 }
 .btnSee{
    font-weight: 700;
    text-align:center ;
    color: #FFFFFF;
    background-color: blue;
    width:70px;
    height: 25px;
    border-radius: 5px;
    margin-left:85%;
 }
   .airConD{
    margin: 10px 30px;
    color: aliceblue;
    margin-top: 5%;
   }
 
.weekC{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}

.air-header{
    margin-left: 37%;
    opacity: 0.7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:3%;
    color: #fff;
}
.realFeelDiv{
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    background-color: #1171d1;
    margin-right: 10%;
    margin-left: 4%;

}
.realFeelDiv h3{
    margin-left: 10%;
    margin-top: 7%;
    font-family: 'Pinyon Script', cursive;
}
.iconTemp{
    margin-left: 30%;
    margin-top: 7%;
}
.wind{
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    background-color: #1171d1;
    margin-right: 10%;
}
.wind h3{
    margin-left: 25%;
    margin-top: 7%;
    font-family: 'Pinyon Script', cursive;
}
.iconWind{
    margin-left: 30%;
    margin-top: 7%;
}
.rain{
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    background-color: #1171d1;
    margin-right: 10%;
}
.rain h3{
    margin-left: 25%;
    margin-top: 7%;
    font-family: 'Pinyon Script', cursive;
}
.iconRain{
    margin-left: 30%;
    margin-top: 7%;
    
}
.uvIndex{
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    background-color: #1171d1;
    margin-right: 10%;
}
.uvIndex h3{
    margin-left: 10%;
    margin-top: 7%;
    font-family: 'Pinyon Script', cursive;
}
.iconUv{
    margin-left: 30%;
    margin-top: 7%;
}
.forecstH{
    display: flex;
    margin-top: 5%;
}
.speed1{
    margin-left: 40%;
    margin-top: 5%;
}
.speed2{
    margin-left: 26%;
    margin-top: 5%;
}
.speed3{
    margin-left: 40%;
    margin-top: 5%;
}
.speed4{
    margin-left: 49%;
    margin-top: 5%;
}
/* --------------------------------------------- */
.daysForecast{
   

position: absolute;
width: 210px;
height: 420px;
left: 551px;
top: 154px;

background: #2C3E50;
opacity: 0.4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
border-radius: 10px;

margin-left: 36%;
margin-top: 11.5%;
}
/* -------------------------------------------------------- */
.todayForecastH4{
    margin-left: 37%;
    opacity: 0.7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.forecstD{
    margin: 10px 30px;
    color: aliceblue;
    margin-top: 5%;
}
.weekF{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}
.cast-header{
    margin-left: 37%;
    opacity: 0.7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    color: #fff;
}

.vL1{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 16%;
    bottom: 4%;
}
.vL2{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 32%;
    bottom: 4%;
}
.vL3{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 47%;
    bottom: 4%;
}
.vL4{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 63%;
    bottom: 4%;
}
.vL5{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 78%;
    bottom: 4%;
}
.vL6{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 125%;
    bottom: 4%;
}

/* ================================================= */
 /* .currentDivWind{
    width: 70px;
    height: 50px;
    background-color: #000000;
    margin-left: 80%;
    margin-top: 7%;
    rotate: 90deg;
    border: 1px solid #fc0d0d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    
 }
 .currentIconWind{
    margin-left: 25%;
    margin-top: 10%;
    width: 60%;
 }
 .currentWindP{
    color: #fff2f2;
   margin-left: 30%;
   margin-top: 20%;
   
 }
 .currentDivWeather{
    width: 70px;
    height: 50px;
    background-color: #000000;
    rotate: 90deg;
    border: 1px solid #fc0d0d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin-left: 200px;
 }
 .currentDivArea{
    width: 70px;
    height: 50px;
    background-color: #000000;
    rotate: 90deg;
    border: 1px solid #fc0d0d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 0%;
    margin-bottom: 50%;
 } */