@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
*{
   margin: 0;
   padding: 0; 
}
body{
    height: 150vh;
    /* background-image: url("https://images.pexels.com/photos/325676/pexels-photo-325676.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover; */
  
   
   
 
}

/* --------------------------------------------------------------------- */
.searchTxt{

 box-sizing: border-box;

 position: absolute;
 width: 499px;
 height: 27px;
 left: 188px;
 top: 64px;
 
 background: #2C3E50;
 opacity: 0.4;
 border: 1px solid #000000;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 color:#fff;
 
 margin-top: 2%;
 margin-left: 13%;
}
 .btn{

position: absolute;
width: 65px;
height: 27px;
left: 619px;
top: 62px;

background: #D9D9D9;
border-radius: 200px;

margin-top: 2.1%;
margin-left: 20%;

 }
 /* -------------------------------------------------- */
 .currentWeather{


box-sizing: border-box;

position: absolute;
width: 428.33px;
height: 119.8px;
/* left: 1.13px; */
top: 450.18px;

background: #2C3E50;
opacity: 0.4;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
border-radius: 10px;
transform: rotate(-90.1deg);
margin-right: 100px;




 }
 /* ---------------------------------------------- */
 .todayForecast{


position: absolute;
width: 694px;
height: 164px;
left: 124px;
top: 234px;

background: rgba(44, 62, 80, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
border-radius: 10px;

margin-left: 14%;
margin-top: 8.3%;



 }
 /* ------------------------------------------------- */
 .airConditions{
   

box-sizing: border-box;

position: absolute;
width: 694px;
height: 200px;
left: 124px;
top: 347px;


box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
border-radius: 10px;

margin-left: 14%;
margin-top: 13.6%;



background: #2C3E50;
opacity: 0.4;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 10px;


 }
 .btnSee{
    font-weight: 700;
    text-align:center ;
    color: #FFFFFF;
    background-color: blue;
    width:70px;
    height: 25px;
    border-radius: 5px;
    margin-left:85%;
 }
   .airConD{
    margin: 10px 30px;
    color: aliceblue;
    margin-top: 5%;
   }
 
.weekC{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}

.air-header{
    margin-left: 37%;
    opacity: 0.7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:3%;
    color: #fff;
}

.next1{
    margin-left: 4%;
    margin-top: 4%;
}

.next2{
  margin-left: 60%;
  
}
.d1{
    margin-bottom: 10%;
}
.next1 p{
    margin: 3px 100;
    margin-bottom: 0%;
    
}

.time{
    color: rgb(254, 189, 132);
   
}
.desc{
    color: rgb(196, 255, 77);
    
}
/* .airReel{
    
} */
.realH6{
    color: #fff;
    opacity: 0.5;
    width: 100px;
    margin-left: 9%;
    margin-top: 1%;
}
.windH4{
    color: #fff;
    opacity: 0.5;
    width: 100px;
    margin-left:50%;
    margin-bottom:30% ;
}
.rainH4{
    color: #fff;
    opacity: 0.5;
}
.uvH4{
    color: #fff;
    opacity: 0.5;
}
.celsiusReal{
    color: #fff;
    opacity: 0.5;

}

.temperatureIcon{
margin-left: 1%;

}
.realDiv{
    margin-left: 11%;
    margin-left: 3%;
   
}
.iconTemp{
    width: 60%;
    height: 20px;
}
.iconUv{
    width: 50px;
}
.realFeel{
   margin-bottom: 5%;
}
/* --------------------------------------------- */
.daysForecast{
   

position: absolute;
width: 210px;
height: 420px;
left: 551px;
top: 154px;

background: #2C3E50;
opacity: 0.4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
border-radius: 10px;

margin-left: 36%;
margin-top: 11.5%;
}

.todayForecastH4{
    margin-left: 37%;
    opacity: 0.7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.forecstD{
    margin: 10px 30px;
    color: aliceblue;
    margin-top: 5%;
}
.weekF{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}
.cast-header{
    margin-left: 37%;
    opacity: 0.7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    color: #fff;
}

.vL1{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 16%;
    bottom: 4%;
}
.vL2{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 32%;
    bottom: 4%;
}
.vL3{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 47%;
    bottom: 4%;
}
.vL4{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 63%;
    bottom: 4%;
}
.vL5{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 78%;
    bottom: 4%;
}
.vL6{
    border-left: 2px solid rgba(0, 0, 0, 0.313);
    height: 100px;
    position:absolute;
    left: 125%;
    bottom: 4%;
}

